@import '../../../../theme/theme.scss';

.cardContainer {
	background-color: $dark;
	color: $white;
	position: relative;
	cursor: pointer;
	height: 70px;
	width: 100%;
	border-radius: $midRadius;
	padding: 12px;
	display: flex;
	gap: 25px;
	align-items: center;

	&:hover {
		.cardModal {
			display: flex;
		}
	}

	.betTypes {
		display: flex;
		margin-left: auto;
		gap: 10px;

		div {
			width: 150px;
		}

		.arbitrageNumber {
			background-color: $orange;
			color: $dark;
			font-weight: 800;
			padding: 4px;
			border-radius: $smallRadius;
			text-align: center;
		}
	}
}

.cardModal {
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	background-color: red;
	padding: 12px;
	border-radius: $smallRadius;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);

	.modalItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
	}
}
