@import '../../../../theme/theme.scss';

.sidebar {
	@include sidebar;

	.buttonsContainer {
		width: 300px;
		border-right: 1px solid #000;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		padding: 30px 15px;
	}
}

.marginTop {
	margin-top: 20px;
}
