@import '../../../../theme/theme.scss';

.contentContainer {
	@include content;
}

.header {
	text-align: center;
	margin-bottom: 20px;
}

.statContainer {
	display: flex;
	gap: 20px;
	width: 100%;
	padding: 12px;
	gap: 25px;
	align-items: center;
}
