@import '../../../../theme/theme.scss';

.contentContainer {
	@include content;
}

.tableContainer {
	width: 100% !important;
	overflow-x: auto;

	.table {
		border: 1px solid #888;
		border-collapse: collapse;
	}
}
