@import '../../../../theme/theme.scss';

.contentContainer {
	@include content;
}

.tableContainer {
	width: calc(100% - 300px) !important;
	overflow-x: auto;

	.table {
		border: 1px solid #888;
		border-collapse: collapse;
		position: relative;
	}
}
