@import '../../../../theme/theme.scss';

.contentContainer {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 30px;
}

.filterButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 12px 24px;
		border-radius: 20px;
		width: 250px;
		border: 2px solid rgb(54, 54, 54);
		font-size: 18px;
		font-weight: 600;
		transition: 0.3s;

		&:hover {
			color: rgb(241, 241, 241);
			background-color: rgb(54, 54, 54);
		}
	}
}

.tableContainer {
	width: 100% !important;
	overflow-x: auto;

	.table {
		border: 1px solid #888;
		border-collapse: collapse;
	}
}
